.container {
  position: fixed;
  height: 6rem;
  min-width: 100%;
  padding: 0 2rem 0 5rem;
  background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
}

.left-side,
.right-side {
  display: flex;
  flex-direction: row;
  font-size: 1.3vw;
  /* background-color: pink; */
}
.logo {
  max-width: 70px;
  object-fit: cover;
}
.right-link {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 0.7rem 0 0.7rem;
  padding: 0.3rem;
}
.right-link:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}
.material-icons {
  padding: 0 0.5rem 0 0.5rem;
}
.mobile-menu {
  display: none;
}

@media only screen and (max-width: 800px) {
  .right-side {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
}
