<div class="about-us">
  <h4>About Madhuvan Minerals</h4>
  <p>
    Madhuvan Minerals is a commercial mines. Which has been started in month of
    january in 2019 after a very long process to get the mines accreditated by
    the government of india. This mines produces different types of minerals
    which are Pyrophillite, Granite ,Dolomite and Diaspore and sell these
    minerals in solid and powder form.
  </p>
</div>
<div class="vision">
  <h4>Our Vision</h4>
  <div class="vision-cont">
    <div class="left-vision-cont">content</div>
    <div class="right-vision-img">image</div>
  </div>
</div>
<div class="owner-message">
  <h4>chairman's Message</h4>
  <div class="ownr-msg-cont">
    <div class="left-cont">content</div>
    <div class="right-img">image</div>
  </div>
</div>
<div class="customer-reviews">
  <div class="cus-review-cont">
    <h6>Hii</h6>
    <p>helloo</p>
  </div>
  <div class="cus-review-cont">
    <h6>Hii</h6>
    <p>helloo</p>
  </div>
  <div class="cus-review-cont">
    <h6>Hii</h6>
    <p>helloo</p>
  </div>
  <div class="cus-review-cont">
    <h6>Hii</h6>
    <p>helloo</p>
  </div>
</div>
