<div class="footer-container">
    <div class="logo">
        <img src="../../../assets/PNGLogoMM.png" alt="" />
    </div>
    <div class="address">
        <span class="location">
            <span class="inner-span">
                <span class="material-icons"> place </span>Madhuvan Minerals and
                Industries, <span> Bairwar, Jatara, Tikamgarh,M.P,</span>
            </span>
            <span> pin-code-472118</span></span
        >
        <span class="contact">
            <span class="inner-span">
                <span class="material-icons"> call </span>+91 9755421008,
                <span> +91 7000043042, </span
                ><span> +91 9685520593</span> &nbsp;&nbsp;&nbsp;</span
            >
            <span class="inner-span">
                <span class="material-icons"> email </span>-
                madhuvanminerals@gmail.com</span
            >
        </span>
    </div>
    <div class="social-media-icon">socialicons</div>
</div>
