<div class="footer-container">
  <div class="logo">
    <img src="../../../assets/PNGLogoMM.png" alt="" />
  </div>
  <div class="address">
    <span class="location">
      <span>
        <span class="material-icons"> place </span>Madhuvan Minerals and
        Industries, Bairwar, Jatara,</span
      >
      <span> Tikamgarh,M.P, pin-code-472118</span></span
    >
    <span class="contact">
      <span>
        <span class="material-icons"> call </span>+91 9755421008, +91
        7000043042, +91 9685520593 &nbsp;&nbsp;&nbsp;</span
      >
      <span>
        <span class="material-icons"> email </span>-
        madhuvanminerals@gmail.com</span
      >
    </span>
  </div>
  <div class="social-media-icon">socialicons</div>
</div>
